name: Run Login Script

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install playwright-core

      - name: Run Login Script
        # Inject secrets as Environment Variables
        env:
          LOGIN_USERNAME: ${{ secrets.MY_USERNAME }}
          LOGIN_PASSWORD: ${{ secrets.MY_PASSWORD }}
          BROWSERLESS_URL: ${{ secrets.BROWSERLESS_URL }}
        run: node "Login Script Try.js"
